@font-face {
    font-family: "NeueBold";
    src: url("./fonts/NM-Ultra.otf");
}


body {
    background-color: black;
    overflow: hidden;
}

.preloader {
    font-family: "NeueBold";
    background-image: url("./assets/BLACK PATTERN 01.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
background-color: #000000;
background-attachment: fixed;
background-size: cover;
}

.blue-smiley {
    max-width: 100%;
    height: auto;
    width: 300px;
}